NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

GEMINI_API_KEY=
GEMINI_API_KEYS=

HUGGINGFACE_API_KEY=
HUGGINGFACE_API_KEYS=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_API_KEYS=
NEXT_PUBLIC_CLOUDFLARE_AI_SEARCH_URL=
NEXT_PUBLIC_CLOUDFLARE_AI_CHAT_URL=
